# Игнорирование виртуальной среды
venv/
env/
*.env

# Игнорирование файлов компиляции и временных файлов
__pycache__/
*.pyc
*.pyo
*.pyd
*.bak
*.swp
*.log

# Игнорирование папок и файлов, создаваемых редакторами кода
.vscode/

test.py